@CHARSET "UTF-8";

body {
	background: url("../images/bg.jpg") repeat;
	margin: 0;
	margin-top: 20px;
}

#jinrong_super_div {
	width: auto;
	height: auto;
}

#jinrong_top_div {
	margin: 0 auto;
	width: 1100px;
	height: 100px;
}

#jinrong_top_head {
	margin: 0 auto;
	width: 1100px;
	height: 65px;
	background-color: transparent;
}

#jinrong_top_head_logo {
	float: left;
}

#jinrong_top_head_a {
	text-decoration: none;
	color: #666666;
	font-size: 14px;
}

#jinrong_top_head_a:HOVER {
	color: blue;
}

#jinrong_top_head_login {
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}

#jinrong_top_div_menu {
	margin: 0 auto;
	width: 1100px;
	height: 65px;
	background-color: transparent;
}

#jinrong_top_div_menu_ul {
	width: 1100px;
	height: 35px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	background-color: transparent;
}

.jinrong_top_div_menu_li {
	float: left;
	width: 181px;
	height: 35px;
	background-color: #b20000;
	margin-right: 2px;
}

.jinrong_top_div_menu_li:HOVER {
	background-color: gray;
}

.jinrong_top_div_menu_li_a {
	float:left;
	padding-top:10px;
	padding-left:40px;
	text-decoration: none;
	width:165px; 
	color: white;
	font-size:16px;
	font-weight:bold;
	margin: 0 auto;
}

#jinrong_top_div_submenu{
	width:auto;
	height:30px;
	background-color: yellow;
	background:#fff url(../images/main2_bg.jpg) 0 0 repeat-x;
}

#jinrong_top_div_menu_sub{
	margin: 0 auto;
	width:1100px;
	height:30px;
	background-color: transparent;
}
.jinrong_top_div_menu_sub_p{
	margin: 0;
	padding: 0;
	padding-top:5px;
	display: none;
}

.jinrong_top_div_menu_sub_p a{
	color: gray;
	text-decoration: none;
	font-size: 14px;
}

.jinrong_top_div_menu_sub_p a:HOVER{
	color: blue;
}
#jinrong_center_div {
	margin: 0 auto;
	width: auto;
	height: 420px;
}

#jinrong_center_div_outside {
	width: 1100px;
	height: 422px;
	margin: 0 auto;
	background-color: red;
}
#KinSlideshow{
	
}
#jinrong_bottom_div {
	margin: 0 auto;
	width: 1100px;
	height: 350px;
	background-color: #fefefe;
}

#jinrong_bottom_div_question {
	margin: 0 auto;
	width: 1100px;
	height: 200px;
	margin-top:35px;
	background-color: transparent;
}

#jinrong_bottom_div_question_main {
	margin: 0 auto;
	width: 1100px;
	height: 200px;
}

#jinrong_bottom_div_question_left {
	float: left;
	width: 366px;
	height: 200px;
	background-color: transparent;
}

#jinrong_bottom_div_question_leftContext {
	width: 260px;
	height: 180px;
	margin: 0 auto;
	top: 10px;
	position: relative;
}

#jinrong_bottom_div_question_center {
	float: left;
	width: 366px;
	height: 200px;
	background-color: transparent;
}

#jinrong_bottom_div_question_centerContext {
	width: 260px;
	height: 180px;
	margin: 0 auto;
	top: 10px;
	position: relative;
}

#jinrong_bottom_div_question_right {
	float: left;
	width: 366px;
	height: 200px;
	background-color: transparent;
}

#jinrong_bottom_div_question_rightContext {
	width: 260px;
	height: 180px;
	margin: 0 auto;
	top: 10px;
	position: relative;
}

.jinrong_bottom_div_question_style_title {
	border-bottom: 1px dashed #ddd;
	padding-bottom: 5px;
}

.jinrong_bottom_div_question_style_title span {
	font-size: 18px;
	font-weight: bolder;
}

.jinrong_bottom_div_question_ul_style {
	list-style-image: url("../images/ul_li_blue_dot.png");
	padding: 0;
	margin: 0;
	padding-left: 20px;
}

.jinrong_bottom_div_question_ul_style li {
	padding-top: 8px;
}

.jinrong_bottom_div_question_li_style a {
	color: #666666;
	text-decoration: none;
	font-size: 12px;
}

.jinrong_bottom_div_question_li_style a:HOVER {
	color: #87d6ff;
	text-decoration: underline;
}

#jinrong_bottom_div_question_center {
	float: left;
	width: 330px;
	height: 200px;
}

#jinrong_bottom_div_question_right {
	float: left;
	width: 330px;
	height: 200px;
}

#jinrong_bottom_div_bank {
	margin: 0 auto;
	width: 1100px;
	height: 150px;
}

#jinrong_bottom_div_bank_title {
	background-color: #F1F7FC;
	width: 1100px;
	height: 40px;
}

#jinrong_bottom_div_bank_title div {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	font-weight: bolder;
	font-size: 20px;
}

#jinrong_bottom_div_bank_context {
	width: 1100px;
	height: 110px;
	background-color: #fefefe;
}

#jinrong_bottom_div_bank_context img {
	margin-left: 20px;
	margin-top: 10px;
	width: 1100px;
	height: 89px;
}

#jinrong_bottom_div_foot {
	width: auto;
	height: 160px;
	background-color: #e8edf2;
}

#jinrong_bottom_div_foot_context {
	margin: 0 auto;
	height: 160px;
	width: 1100px;
	position: relative;
	text-align: center;
}

#jinrong_bottom_div_foot_context_link {
	width: 1100px;
	height: 40px;
}

#jinrong_bottom_div_foot_context_link div {
	margin: 0 auto;
	width: 650px;
	height: 40px;
	padding-top: 10px;
}

#jinrong_bottom_div_foot_context_link a {
	text-decoration: none;
	line-height: 30px;
	color: #333333;
	font-size: 14px;
}

#jinrong_bottom_div_foot_context_link span {
	padding: 0 10px;
	color: #e5dab5;
}

#jinrong_bottom_div_foot_context_copyright {
	width: 1100px;
	height: 30px;
}

#jinrong_bottom_div_foot_context_copyright span {
	margin: 0 auto;
	top: 5px;
	position: relative;
	color: #666;
	font-size: 14px;
	font-family: Arial;
}

#jinrong_bottom_div_foot_context_platform {
	width: 1100px;
	height: 30px;
	color: #666;
	font-size: 14px;
}

#jinrong_bottom_div_foot_context_platform a {
	font-size: 14px;
	color: blue;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

#jinrong_bottom_div_foot_context_number {
	width: 1100px;
	height: 30px;
	color: #666;
	font-size: 14px;
}