@CHARSET "UTF-8";

body {
	background: url("../images/bg.jpg") repeat;
	margin: 0;
	margin-top: 20px;
}

#jinrong_super_div {
	width: auto;
	height: auto;
}

#jinrong_top_div {
	margin: 0 auto;
	width: 1100px;
	height: 100px;
}

#jinrong_top_head {
	margin: 0 auto;
	width: 1100px;
	height: 65px;
	background-color: transparent;
}

#jinrong_top_head_logo {
	float: left;
}

#jinrong_top_head_a {
	text-decoration: none;
	color: #666666;
	font-size: 14px;
}

#jinrong_top_head_a:HOVER {
	color: blue;
}

#jinrong_top_head_login {
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}

#jinrong_top_div_menu {
	margin: 0 auto;
	width: 1100px;
	height: 65px;
	background-color: transparent;
}

#jinrong_top_div_menu_ul {
	width: 1100px;
	height: 35px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	background-color: transparent;
}

.jinrong_top_div_menu_li {
	float: left;
	width: 181px;
	height: 35px;
	background-color: #b20000;
	margin-right: 2px;
}

.jinrong_top_div_menu_li:HOVER {
	background-color: gray;
}

.jinrong_top_div_menu_li_a {
	float:left;
	padding-top:10px;
	padding-left:40px;
	text-decoration: none;
	width:165px; 
	color: white;
	font-size:16px;
	font-weight:bold;
	margin: 0 auto;
}

#jinrong_top_div_submenu{
	width:auto;
	height:30px;
	background-color: yellow;
	background:#fff url(../images/main2_bg.jpg) 0 0 repeat-x;
}

#jinrong_top_div_menu_sub{
	margin: 0 auto;
	width:1100px;
	height:30px;
	background-color: transparent;
}
.jinrong_top_div_menu_sub_p{
	margin: 0;
	padding: 0;
	padding-top:5px;
	display: none;
}

.jinrong_top_div_menu_sub_p a{
	color: gray;
	text-decoration: none;
	font-size: 14px;
}

.jinrong_top_div_menu_sub_p a:HOVER{
	color: blue;
}
#jinrong_center_div {
	margin: 0 auto;
	width: auto;
	height: 600px;
	background-color: yellow;
}

#jinrong_center_div_outside {
	width: 1100px;
	height: 600px;
	margin: 0 auto;
	background-color: white;
}
#jinrong_center_div_top{
	width: 1100px;
	height: 130px;
	background-color: transparent;
}
#jinrong_center_div_intside{
	width: 1100px;
	height: 470px;
	background-color: transparent;
}
#jinrong_center_div_intside_left{
	width: 260px;
	height: 470px;
	background-color: pink;
	float: left;
}
#jinrong_center_div_intside_left_menu{
	position:relative;
	top:20px;
	margin:0 auto;
	width: 220px;
	height: 430px;
	background-color: silver;
}
#jinrong_center_div_intside_left_ul{
	margin: 0;
	padding: 0;
}
.jinrong_center_div_intside_left_li{
	list-style-type: none;
}
.jinrong_center_div_intside_left_li_div{
	width: auto;
	height: 30px;
	background-color: red;
}
#jinrong_center_div_intside_left_span{
	
}

.jinrong_center_div_intside_left_a{
	color: blue;
	text-decoration: none;
}
.jinrong_center_div_intside_left_li_item{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.jinrong_center_div_intside_left_li_item_a{
	color: gray;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
#jinrong_center_div_intside_right{
	float:left;
	width: 840px;
	height: 470px;
	background-color: silver;
}
#jinrong_bottom_div_foot {
	width: auto;
	height: 160px;
	background-color: #e8edf2;
}

#jinrong_bottom_div_foot_context {
	margin: 0 auto;
	height: 160px;
	width: 1100px;
	position: relative;
	text-align: center;
}

#jinrong_bottom_div_foot_context_link {
	width: 1100px;
	height: 40px;
}

#jinrong_bottom_div_foot_context_link div {
	margin: 0 auto;
	width: 650px;
	height: 40px;
	padding-top: 10px;
}

#jinrong_bottom_div_foot_context_link a {
	text-decoration: none;
	line-height: 30px;
	color: #333333;
	font-size: 14px;
}

#jinrong_bottom_div_foot_context_link span {
	padding: 0 10px;
	color: #e5dab5;
}

#jinrong_bottom_div_foot_context_copyright {
	width: 1100px;
	height: 30px;
}

#jinrong_bottom_div_foot_context_copyright span {
	margin: 0 auto;
	top: 5px;
	position: relative;
	color: #666;
	font-size: 14px;
	font-family: Arial;
}

#jinrong_bottom_div_foot_context_platform {
	width: 1100px;
	height: 30px;
	color: #666;
	font-size: 14px;
}

#jinrong_bottom_div_foot_context_platform a {
	font-size: 14px;
	color: blue;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

#jinrong_bottom_div_foot_context_number {
	width: 1100px;
	height: 30px;
	color: #666;
	font-size: 14px;
}